@import "compass/css3";
@import "partials/filters";

* {box-sizing:border-box;}

body,html {margin:0; padding:0;}
#container {}

header {
    margin:10px;
	background:gray;
	color:#fefefe;
}

#main {
	#filters{
		ul {
			list-style-type:none;
			list-style-position:outside;
			display:block;
			margin:0;
			padding:0;

			li {	
				position:relative;
				float:left;
				display:block;
				width:400px;
				font-family:'Helvetica';
				margin:10px;
				span {
                    &:hover {cursor:pointer;
                    
                    }
                    
					&.grayscale{
					@include grayscale(100%);
                    @include transition(all 0.4s linear);
                        &:hover {
                        @include grayscale(0%);
                        @include transition(all 0.4s linear);
                        
                        }
					}
					
					&.sepia{
					@include sepia(100%);
                    @include transition(all 0.4s linear);
                    
                         &:hover {
                        @include sepia(0%);
                        @include transition(all 0.4s linear);
                        }
					}

					&.hue-rotate {
					@include hue-rotate(55deg);
                    @include transition(all 0.4s linear);
                         &:hover {
                        @include hue-rotate(180deg);
                        @include transition(all 0.4s linear);
                        }
					}
					

					&.brightness {
					@include brightness(80%);
                    @include transition(all 0.4s linear);
                        
                         &:hover {
                        @include brightness(0%);
                        @include transition(all 0.4s linear);
                        }
					}

					&.contrast {
					@include contrast(40%);
                    @include transition(all 0.4s linear);
                    
                         &:hover {
                        @include contrast(100%);
                        @include transition(all 0.4s linear);
                        }
					}

					&.blur {
					@include blur(5px);
                    @include transition(all 0.4s linear);
                         &:hover {
                        @include blur(0px);
                        @include transition(all 0.4s linear);
                        }
					}

					/* Recieving syntax error: wrong number of arguments (1 for 2) */
					 &.saturate {
					 @include saturate(100%);
                     @include transition(all 0.6s linear);
                        &:hover {
                        
                        @include saturate(0%);    
                        @include transition(all 0.6s linear);
                        }
					 }

					/* Recieving syntax error: 100 is not a color for invert */
					 &.invert {
				     @include invert(100%);
					 @include transition(all 0.6s linear);
                        &:hover {
                        @include invert(0%);    
                        @include transition(all 0.6s linear);
                         }
                     }
				}
			}
		}
	}

}
