/* line 4, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/style.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/style.scss */
header {
  margin: 10px;
  background: gray;
  color: #fefefe;
}

/* line 17, ../sass/style.scss */
#main #filters ul {
  list-style-type: none;
  list-style-position: outside;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/style.scss */
#main #filters ul li {
  position: relative;
  float: left;
  display: block;
  width: 400px;
  font-family: 'Helvetica';
  margin: 10px;
}
/* line 31, ../sass/style.scss */
#main #filters ul li span {
  /* Recieving syntax error: wrong number of arguments (1 for 2) */
  /* Recieving syntax error: 100 is not a color for invert */
}
/* line 32, ../sass/style.scss */
#main #filters ul li span:hover {
  cursor: pointer;
}
/* line 36, ../sass/style.scss */
#main #filters ul li span.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(resources.svg#desaturate);
  filter: gray;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 39, ../sass/style.scss */
#main #filters ul li span.grayscale:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url(resources.svg#desaturate);
  filter: gray;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 46, ../sass/style.scss */
#main #filters ul li span.sepia {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 50, ../sass/style.scss */
#main #filters ul li span.sepia:hover {
  filter: sepia(0%);
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  -ms-filter: sepia(0%);
  -o-filter: sepia(0%);
  filter: sepia;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 56, ../sass/style.scss */
#main #filters ul li span.hue-rotate {
  filter: hue-rotate(55deg);
  -webkit-filter: hue-rotate(55deg);
  -moz-filter: hue-rotate(55deg);
  -ms-filter: hue-rotate(55deg);
  -o-filter: hue-rotate(55deg);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 59, ../sass/style.scss */
#main #filters ul li span.hue-rotate:hover {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 66, ../sass/style.scss */
#main #filters ul li span.brightness {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -ms-filter: brightness(80%);
  -o-filter: brightness(80%);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 70, ../sass/style.scss */
#main #filters ul li span.brightness:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -ms-filter: brightness(0%);
  -o-filter: brightness(0%);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 76, ../sass/style.scss */
#main #filters ul li span.contrast {
  filter: contrast(40%);
  -webkit-filter: contrast(40%);
  -moz-filter: contrast(40%);
  -ms-filter: contrast(40%);
  -o-filter: contrast(40%);
  filter: url(resources.svg#desaturate);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 80, ../sass/style.scss */
#main #filters ul li span.contrast:hover {
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  -o-filter: contrast(100%);
  filter: url(resources.svg#desaturate);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 86, ../sass/style.scss */
#main #filters ul li span.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 89, ../sass/style.scss */
#main #filters ul li span.blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 96, ../sass/style.scss */
#main #filters ul li span.saturate {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -moz-filter: saturate(100%);
  -ms-filter: saturate(100%);
  -o-filter: saturate(100%);
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
/* line 99, ../sass/style.scss */
#main #filters ul li span.saturate:hover {
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
  -moz-filter: saturate(0%);
  -ms-filter: saturate(0%);
  -o-filter: saturate(0%);
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
/* line 107, ../sass/style.scss */
#main #filters ul li span.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
/* line 110, ../sass/style.scss */
#main #filters ul li span.invert:hover {
  filter: invert(0%);
  -webkit-filter: invert(0%);
  -moz-filter: invert(0%);
  -ms-filter: invert(0%);
  -o-filter: invert(0%);
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
